{% include 'nav.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Tiles</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .product-tile {
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 15px;
            margin-bottom: 20px;
        }
        .product-image {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
<h1></h1>
    <div class="container">
        <div class="row">
            {% for productmodel in productmodels %}
            <div class="col-md-4">
                <div class="product-tile">
                    <img src="{{ productmodel.image.url }}" class="product-image" alt="Product Image">
                    <h5>{{ productmodel.model_name }}</h5>
                    <p>{{ productmodel.product }}</p>
                    <p>{{ productmodel.description }}</p>
                    <a href="{{ productmodel.spec.url }}" target="_blank" class="btn btn-primary">View Details</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

